@model WebApplication1.Models.eInvoice

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>eInvoice</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CurrencyCode" class="control-label"></label>
                <input asp-for="CurrencyCode" class="form-control" />
                <span asp-validation-for="CurrencyCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchOrderNo" class="control-label"></label>
                <input asp-for="PurchOrderNo" class="form-control" />
                <span asp-validation-for="PurchOrderNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayType" class="control-label"></label>
                <input asp-for="PayType" class="form-control" />
                <span asp-validation-for="PayType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceDate" class="control-label"></label>
                <input asp-for="InvoiceDate" class="form-control" />
                <span asp-validation-for="InvoiceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="InvoiceDateSpecified" /> @Html.DisplayNameFor(model => model.InvoiceDateSpecified)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="DueDateSpecified" /> @Html.DisplayNameFor(model => model.DueDateSpecified)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="VatAmount" class="control-label"></label>
                <input asp-for="VatAmount" class="form-control" />
                <span asp-validation-for="VatAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Authorizor" class="control-label"></label>
                <input asp-for="Authorizor" class="form-control" />
                <span asp-validation-for="Authorizor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OurCustomerNo" class="control-label"></label>
                <input asp-for="OurCustomerNo" class="form-control" />
                <span asp-validation-for="OurCustomerNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceType" class="control-label"></label>
                <input asp-for="InvoiceType" class="form-control" />
                <span asp-validation-for="InvoiceType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Supplier" class="control-label"></label>
                <input asp-for="Supplier" class="form-control" />
                <span asp-validation-for="Supplier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplierNo" class="control-label"></label>
                <input asp-for="SupplierNo" class="form-control" />
                <span asp-validation-for="SupplierNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceNo" class="control-label"></label>
                <input asp-for="InvoiceNo" class="form-control" />
                <span asp-validation-for="InvoiceNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ocr" class="control-label"></label>
                <input asp-for="Ocr" class="form-control" />
                <span asp-validation-for="Ocr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Freight" class="control-label"></label>
                <input asp-for="Freight" class="form-control" />
                <span asp-validation-for="Freight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="FreightSpecified" /> @Html.DisplayNameFor(model => model.FreightSpecified)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="VatCode" class="control-label"></label>
                <input asp-for="VatCode" class="form-control" />
                <span asp-validation-for="VatCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pg" class="control-label"></label>
                <input asp-for="Pg" class="form-control" />
                <span asp-validation-for="Pg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bg" class="control-label"></label>
                <input asp-for="Bg" class="form-control" />
                <span asp-validation-for="Bg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrgNo" class="control-label"></label>
                <input asp-for="OrgNo" class="form-control" />
                <span asp-validation-for="OrgNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OurReference" class="control-label"></label>
                <input asp-for="OurReference" class="form-control" />
                <span asp-validation-for="OurReference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YourReference" class="control-label"></label>
                <input asp-for="YourReference" class="form-control" />
                <span asp-validation-for="YourReference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceRecipient" class="control-label"></label>
                <input asp-for="InvoiceRecipient" class="form-control" />
                <span asp-validation-for="InvoiceRecipient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostCode" class="control-label"></label>
                <input asp-for="PostCode" class="form-control" />
                <span asp-validation-for="PostCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <input asp-for="Message" class="form-control" />
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vat" class="control-label"></label>
                <input asp-for="Vat" class="form-control" />
                <span asp-validation-for="Vat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceFee" class="control-label"></label>
                <input asp-for="InvoiceFee" class="form-control" />
                <span asp-validation-for="InvoiceFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project" class="control-label"></label>
                <input asp-for="Project" class="form-control" />
                <span asp-validation-for="Project" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
